{{ $baseURL := .Site.BaseURL }}
<footer id="main-footer">
	<div class="container">
		<p><strong>جامعه طراحان سیستم</strong>، متشکل از متخصصان و افراد علاقه‌مندی میباشد که دوست‌ دارند دانش و
			تجربیات‌ خود را با دیگران به اشتراک بگذارند.
			<strong>اینجا کلمات بر تراشه‌ها سوار میشوند.</strong> اگر تو نیز علاقه‌داری که اینجا بنویسی و تجربیاتت را با
			دیگران سهیم شوی، کافیست <a href="https://google.com" target="_blank">این لینک</a> را مطالعه کنی. </p>
	</div>
</footer>
</div> <!-- #view -->
</body>

</html>